node_modules
npm-debug.log
Dockerfile
.dockerignore
db
.env
.git
.github
design
final
meetings
*.zip
*.pdf
*.tex
submission-checklist.md
submission-document.tex
sprint4-notes.md
README.md
CODE_OF_CONDUCT.md
LICENSE
