doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/style.css")
  body
    nav.navbar
      a.brand(href="/") StudyBuddy
      ul
        li: a(href="/users") Browse Buddies
        li: a(href="/sessions") Study Sessions
        li: a(href="/tags") Topics
        if currentUser
          li: a(href="/matches") Matches
          li: a(href="/requests") Requests
          li: a(href="/messages") Messages
          li: a(href="/profile") My Profile
          li
            form.nav-form(action="/logout" method="post")
              button.nav-link(type="submit") Logout
        else
          li: a(href="/login") Login
          li: a(href="/register") Register
    main
      if flash
        .flash(class="flash-" + flash.type)= flash.message
      block content
    footer
      p &copy; 2026 StudyBuddy - Peer Support for Students
